---
http_interactions:
- request:
    method: get
    uri: https://app.asana.com/api/1.0/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1/8253796198094:49595a715371e561e8980e052543531d
      X-Asana-Client-Lib:
      - ruby-asana
      X-Asana-Client-Lib-Version:
      - 0.0.1
      X-Asana-Client-Name:
      - ruby-asana
      X-Asana-Client-Version:
      - 0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Asana-Api-Version:
      - '1.1'
      Asana-Change:
      - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
      - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
      Datacenter-Time-End:
      - '1688011959.258'
      X-Loadbalancer:
      - prod-lb000.ec2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"gid":"1201488462344546","name":"ShopStorm","resource_type":"project"},{"gid":"1201631597770420","name":"Matoadi","resource_type":"project"},{"gid":"1201956690186726","name":"MG&R
        Solutions Limited","resource_type":"project"},{"gid":"1200468344109913","name":"Software
        Consultancy","resource_type":"project"}]}'
  recorded_at: Thu, 29 Jun 2023 04:12:36 GMT
- request:
    method: get
    uri: https://app.asana.com/api/1.0/projects/1201488462344546/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1/8253796198094:49595a715371e561e8980e052543531d
      X-Asana-Client-Lib:
      - ruby-asana
      X-Asana-Client-Lib-Version:
      - 0.0.1
      X-Asana-Client-Name:
      - ruby-asana
      X-Asana-Client-Version:
      - 0.0.1
  response:
    statu[...]
